@import "tailwindcss";
@plugin "@tailwindcss/typography";


.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #f9b807;  
  width: 30px;
  height: 30px;
  transform: scale(0.8);
}


/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
